/* Header */

.header {
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    background-color: #dfe8eb;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content input {
    width: 250px;
    height: 30px;
    border: 1px solid #dfe8eb;
    border-radius: 10px;
    outline: none;
}

.menu ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
}

.menu ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.menu ul li a {
    color: #23232c;
    transition: 0.4s;
    text-decoration: none;
}

.menu ul li a:hover {
    color: aquamarine;
    transition: 0.4s;
}

.headerright {
    width: 150px;
    justify-content: space-between;
    display: flex;
    padding: 5px 0;
}

.headerright a {
    color: #23232c;
    transition: 0.4s;
}

.headerright a:hover {
    color: aquamarine;
    transition: 0.4s;
}


/* Banner */

.banner .carousel img {
    height: 600px !important;
}

.banner .item .carousel-caption h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.banner .item .carousel-caption p {
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/* Sale */

.sale {
    padding: 70px 0;
}

.sale-content {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.sale-content:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}

.sale-content img {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    transition: 0.4s;
}

.caption {
    position: absolute;
    z-index: 1;
    padding-left: 20px;
    padding-right: 250px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}

.caption p {
    color: #7c7c80;
    line-height: 30px;
}

.caption button {
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
    width: 100px;
    height: 30px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #ff6962;
    color: white;
}

.caption button:hover {
    background-color: white;
    transition: 0.4s;
    color: #ff6962;
}

.caption h3 {
    font-weight: bold;
    color: #ff6962;
}


/* products */

.products {
    padding-bottom: 50px;
}

.featured {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.featured h1 {
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.featured h3 a {
    padding-right: 20px;
    color: black;
    font-size: 11px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.4s;
}

.featured h3 a:hover {
    color: #ff6962;
    transition: 0.4s;
}

.products-box {
    text-align: center;
    padding-bottom: 50px;
}

.products-box h1 {
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.products-box p {
    padding: 0 130px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #7c7c80;
}

.products .item {
    position: relative;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.products .item img {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
}

.layout {
    opacity: 0;
    transition: 0.4s;
}

.item:hover .layout {
    opacity: 1;
    transition: 0.4s;
}

.products .hot-item {
    width: 40px;
    height: 20px;
    position: absolute;
    z-index: 2;
    color: white;
    background-color: #ff6962;
    text-align: center;
}

.option {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    bottom: -18%;
    transition: 0.4s;
    text-decoration: none;
}

.item:hover .option {
    bottom: 0;
    transition: 0.4s;
    text-decoration: none;
    color: #ff6962;
}

.item .heart i {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    color: black;
    font-size: 20px;
    padding: 10px;
    bottom: -18%;
    opacity: 0;
}

.item:hover .heart i {
    opacity: 1;
    transition: 0.4s;
}

.products .info-item {
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.products .info-item a {
    color: #7c7c80;
    text-decoration: none;
    font-size: 20px;
}

.products .info-item p {
    padding-top: 10px;
    font-weight: bold;
}


/* collection */

.collection {
    padding-bottom: 30px;
}

.collection .collection-content {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.collection-content:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}

.collection-content img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.collection-content .caption {
    position: absolute;
    z-index: 1;
    padding-left: 20px;
    padding-right: 50px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}

.collection-content .caption p {
    color: white;
    line-height: 30px;
}

.collection-content .caption a {
    text-decoration: none;
    transition: 0.4s;
    width: 200px;
    height: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: white;
}

.collection-content .caption a:hover {
    transition: 0.4s;
    color: #ff6962;
}

.collection-content .caption h3 {
    font-weight: bold;
    color: #333333;
}

.collection-content .layout {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.233);
    opacity: 1;
    transition: 0.4s;
}

.collection-content:hover .layout {
    opacity: 0;
    transition: 0.4s;
}


/* contact */

.contact {
    background-color: #d0d6d8;
}

.contact-box {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.list-contact ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-contact ul li a {
    color: #7c7c80;
}


/* copyright */

.copyright {
    color: #7c7c80;
    margin-left: 20px;
}